@charset "UTF-8";

/* 回答はここに書いてね */
/* Q7-1 */
.clearfix::after{
  content:"";
  clear: both;
  display: block;
}
.main-box{
  padding: 20px 0 20px 20px;
}
.middle-box{
  font-size: 16px;
  float: left;
  width: 225px;
}
.middle-box:first-child{
  margin: 0 50px 0 0;
}
/* Q7-2 */
.tablefloat-box{
  display: table;
}
.table-inbox:first-child{
  padding: 0 50px 0 0;
}
.table-inbox{
  display: table-cell;
  font-size: 16px;
  width: 225px;
  vertical-align: middle;
}
/* tableの中にwidthを100%でcellを均等にしてpaddingで余白を作った */
/* Q7-3 */
.block-box{
  font-size:0;
}
.inline-box{
  display: inline-block;
  width: 225px;
  vertical-align: middle;
}
.inline-box:first-child{
  margin: 0 50px 0 0;
  }
.q7__box{
  font-size: 16px;
}

/* Q7-4 */
.flex-box{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.flex-inbox{
  font-size: 16px;
  vertical-align: middle;
  width: 225px;
  box-sizing: border-box;
}

/* Q7-5 */
.block-inbox{
  font-size: 0;
}

.inlineblock-left{
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.inlineblock-right{
  display: inline-block;
  box-sizing: border-box;
  margin: 0 0 0 -300px;
  padding: 0 0 0 350px;
  width: 100%;
}
.q7__box__text{
  font-size: 16px;
}






/* 回答はここに書いてね */
