@charset "UTF-8";

/* 回答はここに書いてね */
/* Q7-1 */
.clearfix::after{
  content:"";
  clear: both;
  display: block;
}
.middle-box{
  font-size: 16px;
  float: left;
  width: 225px;
}
.middle-box:first-child{
  margin-right: 50px;
}

/* Q7-2 */
.table-box{
  display: table;
  table-layout: fixed;
  width: 100%;
}
.table-inbox:first-child{
  padding-right: 50px;
}
.table-inbox{
  display: table-cell;
  font-size: 16px;
  width: 225px;
  vertical-align: middle;
}
/* tableの中にwidthを100%でcellを均等にしてpaddingで余白を作った */
/* Q7-3 */
.inline-box{
  display: inline-block;
  font-size: 16px;
  width: 225px;
  vertical-align: middle;
}
.inline-box:first-child{
  margin-right: 45px;
  /* すでにpaddingで子要素が5px指定してある */
}

/* Q7-4 */
.flex-box{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.flex-inbox{
  font-size: 16px;
  margin: 0 auto;
  width: 225px;
}

/* Q7-5 */
.inlineblock-box{
  display: inline-block;
  padding-right: 350px;
}

.inlineblock-one{
  float: left;
  width: 300px;
}

.inlineblock-two{
  float: left;
  margin-left: 50px;
  margin-right:-350px;
  width: 100%;
}







/* 回答はここに書いてね */
