@charset "UTF-8";

/* 回答はここに書いてね */
.inbox{
  background-color: #eff3f4;
  padding: 20px;
}

.inline-box{
  box-sizing: border-box;
  display: table;
  text-align: center;
  width: 100%;
}
.inline-box:first-child{
  margin: 0 0 20px 0;
}
.same{
  display: table-cell;
  padding: 20px 0;
}
.top-box_left{
  background-color: #fbc8b8;
  width: 100px;
}

.top-box_center{
  background-color: #e0abd9;
}

.top-box_right{
  background-color:#b6d8ed;
  width: 100px;
}


.bottom-box_left{
  background-color: #e5d32e;
}

.bottom-box_center{
  background-color: #ec8f9a;
}

.bottom-box_right{
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
