@charset "UTF-8";

/* 回答はここに書いてね */
.car{
  width: 500px;
  height: 333px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}


.after-text{
  color: white;
  text-align: justify;
  width: 460px;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  left: 20px;
  bottom: -120px;
  }
.car_img:hover{
  transition:all 0.5s;
  transform: scale(1.5);
}
.car_img:hover+.after-text{
  transition: all 0.5s;
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-color: rgba(0, 0, 0, 8);
}


.radius{
  margin: 0 auto;
  border:solid 10px #ecf1f2;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-top: solid 10px #00bcd4;
  animation: anime 1s linear infinite;
}

 @keyframes anime {
  0%{
    transform: rotate(0deg);
    }
  100%
    {transform: rotate(360deg); }
}





/* 回答はここに書いてね */
