@charset "UTF-8";

/* 回答はここに書いてね */
.meal{
  table-layout: fixed;
  width: 100%;
}

td{
  border: solid #dedede 1px;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  padding:10px 0;
}

tr:nth-child(odd){
  background-color: #ecf1f2;
}

th,td:first-child{
  background-color: #2244aa;
  border: solid white 1px;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 10px 0;
}

tr:last-child{
  border-top:dashed #000 2px;
}
/* 回答はここに書いてね */
