@charset "UTF-8";

/* 回答はここに書いてね */
.box-btn{
  display: inline-block;
  margin: 0 auto;
}
.first-btn{
  background-color:#00bcd4;
  color: white;
}
.second-btn{
  background-color: #ff4081;
  color: white;
}
.third-btn{
  background-color: #e5e5e5;
  color: white;
}
.fourth-btn{
  color:#222;
  box-shadow: 0 1px 6px rgba(0,0,0,.12);
  box-shadow: 0 1px 4px rgba(0,0,0,.12);
}
.one-btn{
  border-radius: 3px;
  font-size: 16px;
  float: left;
  padding:0 15px;
  margin-right: 10px;
  line-height: 26px;
}
.two-btn{
  border-radius: 5px;
  font-size: 20px;
  float: left;
  padding:0 20px;
  margin-right: 10px;
  line-height: 32px;
}
.three-btn{
  border-radius: 7px;
  font-size: 24px;
  float: left;
  padding:0 25px;
  margin-right: 10px;
  line-height: 38px;
}
/* Q8-2 */

.clearfix::after{
  content:"";
  clear: both;
  display: block;
}


form{
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ECF1F2;
}
span{
  color: red;
}
.font_first-name{
  position: relative;
  margin-bottom: 20px;
}
.font_first-name::before{
  position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    content: "";
}
.font-name{
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #ECF1F2;
  font-size: 24px;
  font-weight: bold;
}
.form-left{
  float: left;
  width: 300px;
}

.form-left-inbox{
  margin-bottom: 20px;
}
.form-left-inbox:first-child{
  margin-top:0;
}
.input-title{
  float: left;
  width: 100px;
  text-align: center;
  line-height: 25px;
}
.input-box{
  float: right;
  width: 180px;
  margin-bottom: 20px;
}

.inbox{
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}
.inbtn{
  cursor: pointer;
}
.place{
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  background-color: #FFF;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
  cursor: pointer;
}

.check-box{
  float: right;
  width: 180px;
  text-align: right;
}
.font-btn{
  float:right;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00BCD4;
  color: #FFF;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
}
.check-inbox{
  padding-left: 24px;
}
.text-box{
  float: right;
  width: 380px;
}
.comment{
    float: left;
    height: 203px;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    background-color: #FFF;
    font-size: 12px;
    box-sizing: border-box;
    resize:none;
}


/* 回答はここに書いてね */
